{% extends base %}

{% load static %}

{% block content %}

<body>
    <div class="text-center">

        <div class="section">
            <h1 class="display-3">Bühnenwerke</h1>
            <div class="mt-4">
                <h5>1985/88</h5>
                <p>"Das Mädchen mit den Schwefelhölzchen", Kinderoper</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Affäre Rue de Lourcine"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"One Night Stand", Ballett</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Song der schlimmen Juden"</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>"Pippi Langstrumpf"</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>"Saschen", Ballett</p>
            </div>
            <div class="mt-4">
                <h5>2009/10</h5>
                <p>"Der Traummann", Operette nach Oscar Wilde</p>
            </div>
            <div class="mt-4">
                <h5>2010</h5>
                <p>"Der Gläserne Birnbaum", Kinderoper</p>
            </div>
            <div class="mt-4">
                <h5>2012/13</h5>
                <p>"In Gottes Namen", Oper</p>
            </div>
            <div class="mt-4">
                <h5>2016</h5>
                <p>"Über meinen Schwager, später - ossia Kowalski", eine Quasi-Operette</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Chor und Orchesterwerke</h1>
            <div class="mt-4">
                <h5>1990/91</h5>
                <p>"Die Mutter Erde", Oratorium</p>
            </div>
            <div class="mt-4">
                <h5>1991-bis 1999</h5>
                <p>Marcuspassion</p>
            </div>
            <div class="mt-4">
                <h5>1991/92</h5>
                <p>Orgelsolomesse</p>
            </div>
            <div class="mt-4">
                <h5>1997</h5>
                <p>Missa Brevis</p>
            </div>
            <div class="mt-4">
                <h5>2004</h5>
                <p>Jesuitenmesse</p>
            </div>
            <div class="mt-4">
                <h5>2011</h5>
                <p>Johannespassion</p>
            </div>
            <div class="mt-4">
                <h5>2011</h5>
                <p>Mors est ianua Vitae</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Chormusik</h1>
            <div class="mt-4">
                <h5>1984-2005</h5>
                <p>"Neun Marianische Motetten"</p>
            </div>
            <div class="mt-4">
                <h5>1984/85/2006</h5>
                <p>"Ave Maria"</p>
            </div>
            <div class="mt-4">
                <h5>1984</h5>
                <p>"Schäfers Sonntagslied"</p>
            </div>
            <div class="mt-4">
                <h5>1991</h5>
                <p>"Gewissen"</p>
            </div>
            <div class="mt-4">
                <h5>1991</h5>
                <p>"Maria durch ein Dornwald"</p>
            </div>
            <div class="mt-4">
                <h5>1992</h5>
                <p>"Advent"</p>
            </div>
            <div class="mt-4">
                <h5>1992</h5>
                <p>"Der Herr Minister"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Bethlehem"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Herr, bewahre unser Hoffen"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Rorate"</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>"Drei Stücke nach Franz Schubert"</p>
            </div>
            <div class="mt-4">
                <h5>2003</h5>
                <p>"Gott dich suche ich"</p>
            </div>
            <div class="mt-4">
                <h5>2005</h5>
                <p>"Beatus Vir"</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Kammermusik</h1>
            <div class="mt-4">
                <h5>1981</h5>
                <p>Quintett</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Big Ben"</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Die 4 Temperamente", Quartett</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Suiterl"</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Tripelterzett"</p>
            </div>
            <div class="mt-4">
                <h5>1984</h5>
                <p>"cinque per cinque", Quintett</p>
            </div>
            <div class="mt-4">
                <h5>1984</h5>
                <p>"Die 4 Jahreszeiten", Trio</p>
            </div>
            <div class="mt-4">
                <h5>1984</h5>
                <p>Kontrabasssonate</p>
            </div>
            <div class="mt-4">
                <h5>1985</h5>
                <p>"Trioleo"</p>
            </div>
            <div class="mt-4">
                <h5>1985</h5>
                <p>Klaviersonate</p>
            </div><div class="mt-4">
                <h5>1986</h5>
                <p>"Für Tuci"</p>
            </div>
            <div class="mt-4">
                <h5>1987</h5>
                <p>"Die Geschichteprüfung"</p>
            </div>
            <div class="mt-4">
                <h5>1987</h5>
                <p>"Xenia", Streichquintett</p>
            </div>
            <div class="mt-4">
                <h5>1987/89/90</h5>
                <p>"Drei kleine Klavierstücke"</p>
            </div>
            <div class="mt-4">
                <h5>1989</h5>
                <p>"Adagio molto triste", Quintett</p>
            </div>
            <div class="mt-4">
                <h5>1989</h5>
                <p>"Happy Birthday", Quartett</p>
            </div>
            <div class="mt-4">
                <h5>1989</h5>
                <p>"Hátscherter"</p>
            </div>
            <div class="mt-4">
                <h5>1991</h5>
                <p>Oboentrio</p>
            </div>
            <div class="mt-4">
                <h5>1992</h5>
                <p>Sonate für Trompete und Harfe</p>
            </div>
            <div class="mt-4">
                <h5>1992</h5>
                <p>Sonate für Violoncello und Klavier</p>
            </div>
            <div class="mt-4">
                <h5>1993</h5>
                <p>Fanfare für die Verleihung des Doktorats</p>
            </div>
            <div class="mt-4">
                <h5>1993</h5>
                <p>Trio für Flöte, Viola und Harfe</p>
            </div>
            <div class="mt-4">
                <h5>1994</h5>
                <p>"Deep Space" Sonate</p>
            </div>
            <div class="mt-4">
                <h5>1994</h5>
                <p>"Wortlos", Streichquintett</p>
            </div>
            <div class="mt-4">
                <h5>1994</h5>
                <p>Quartett für den "Hausgebrauch"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Frenulum Breve", Streichquartett</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Praeludium, Fuge & Blues" Nr.1</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Riffs"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Sonate und Fanfare des IAM"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>Guggi´s erste Tonsille</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>Septett</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>"Saschen", Ballett, 12 kleine Klavierstücke</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>"Zwei kleine Klavierstücke"</p>
            </div>
            <div class="mt-4">
                <h5>1998</h5>
                <p>"And what the Hells-berg", Trio</p>
            </div>
            <div class="mt-4">
                <h5>1998</h5>
                <p>"Zwei gegen Eins", Trio</p>
            </div>
            <div class="mt-4">
                <h5>1998</h5>
                <p>Trio für Oboe, Fagott und Klavier</p>
            </div>
            <div class="mt-4">
                <h5>2001</h5>
                <p>"Die 4 Temperamente", Quintett</p>
            </div>
            <div class="mt-4">
                <h5>2001</h5>
                <p>Hofmann Trio</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Der Hase und der Igel", Duo für Violen</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Introitus für einen Kirchenraum"</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>Saxophonquartett</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Die Geschichte des Windes", Violine, Klavier</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Praeludium, Fuge & Blues" Nr.2</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Pablo", Streichquintett</p>
            </div>
            <div class="mt-4">
                <h5>2009/2010</h5>
                <p>"Für G.", Sonate für Violine und Klavier</p>
            </div>
            <div class="mt-4">
                <h5>2010</h5>
                <p>"No Risk, No Fun", Horn, Klavier</p>
            </div>
            <div class="mt-4">
                <h5>2011</h5>
                <p>Eulenspiegelmarsch</p>
            </div>
            <div class="mt-4">
                <h5>2016</h5>
                <p>"Musivische Reisen"</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3 mt-5">Orchestermusik</h1>
            <div class="mt-4">
                <h5>1984</h5>
                <p>Offertorium</p>
            </div>
            <div class="mt-4">
                <h5>1986</h5>
                <p>Konzert für Schlagwerk und Kammerorchester</p>
            </div>
            <div class="mt-4">
                <h5>1988</h5>
                <p>"BeAeSeF", Suite</p>
            </div>
            <div class="mt-4">
                <h5>1989</h5>
                <p>Trompetenkonzert</p>
            </div>
            <div class="mt-4">
                <h5>1991</h5>
                <p>Marsch für Blasmusik Nr.1</p>
            </div>
            <div class="mt-4">
                <h5>1993</h5>
                <p>"Konzert für Orchester"</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>Fanfare</p>
            </div>
            <div class="mt-4">
                <h5>1996</h5>
                <p>Marsch für Blasmusik Nr.2</p>
            </div>
            <div class="mt-4">
                <h5>2002</h5>
                <p>Marsch für Blasmusik Nr.3</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Die Wienerin", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Nächte in Bukarest", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Running Sushi", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Schrimpssalat", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>Fagottkonzert</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>Marsch für Blasmusik Nr.4</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Am Stadtpark", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Bulgarite idvat", Marsch Nr.5</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Ganz neue Pizzicatopolka", Polka francaise</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Kirschblüten", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Passeggiata per Roma", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Schickeria", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Schwiegermuttergalopp"</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>"Shin Kan Sen", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Kinderspiel", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Russkaja Troika", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Stil & Eleganz", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Türk Marsi", Türkischer Marsch Nr.6</p>
            </div>
            <div class="mt-4">
                <h5>2008</h5>
                <p>"Wien ist Andersrum", Walzer</p>
            </div>
            <div class="mt-4">
                <h5>2011</h5>
                <p>"Wo der Pfeffer wächst", Galopp</p>
            </div>
            <div class="mt-4">
                <h5>2012</h5>
                <p>"Tachinierer", Polka schnell</p>
            </div>
            <div class="mt-4">
                <h5>2015</h5>
                <p>"KlangFiguren" für Orchester</p>
            </div>
            <div class="mt-4">
                <h5>2015</h5>
                <p>"Tonspiele" für Orchester</p>
            </div>
            <div class="mt-4">
                <h5>2016</h5>
                <p>"Du mich auch" Polka française</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Filmmusik</h1>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Das Inferno der Planeten"/p>
            </div>
            <div class="mt-4">
                <h5>1984</h5>
                <p>"Invasion der Verdammten"</p>
            </div>
            <div class="mt-4">
                <h5>1986</h5>
                <p>"I Cranici dell´Ibico"</p>
            </div>
            <div class="mt-4">
                <h5>1987</h5>
                <p>"Borderline"</p>
            </div>
            <div class="mt-4">
                <h5>1987</h5>
                <p>"Unternehmen Columbia"</p>
            </div>
            <div class="mt-4">
                <h5>1988</h5>
                <p>"Leonhard"</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Lieder</h1>
            <div class="mt-4">
                <h5>1988</h5>
                <p>"Das Kind"</p>
            </div>
            <div class="mt-4">
                <h5>1988</h5>
                <p>"Der Spatz"</p>
            </div>
            <div class="mt-4">
                <h5>1995</h5>
                <p>"Jesu Redemtor Omnium", Hymnus für Sopran und Ensemble</p>
            </div>
            <div class="mt-4">
                <h5>1995/97</h5>
                <p>"Mein Freund der Tod", Kantate für vier Singstimmen und Klavier</p>
            </div>
            <div class="mt-4">
                <h5>1998</h5>
                <p>"Laura"</p>
            </div>
            <div class="mt-4">
                <h5>2006</h5>
                <p>"Acht Liebeslieder"</p>
            </div>
            <div class="mt-4">
                <h5>2007</h5>
                <p>Drei Lieder</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Schulmusik</h1>
            <div class="mt-4">
                <h5>1981</h5>
                <p>"Drei Bagatellen"</p>
            </div>
            <div class="mt-4">
                <h5>1982</h5>
                <p>J.Haydn "Sinfonie mit dem Paukenschlag", 2.Satz</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>"Prinz Eugen"</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>Zwei Lieder</p>
            </div>
            <div class="mt-4">
                <h5>1985</h5>
                <p>"Willkommen euch allen"</p>
            </div>
            <div class="mt-4">
                <h5>1988</h5>
                <p>"Pippi-Heidi-Maya-Wickie"</p>
            </div>
            <div class="mt-4">
                <h5>1992</h5>
                <p>"7 Kanons über das Einmaleins"</p>
            </div>
        </div>

        <div class="section">
            <h1 class="display-3">Bearbeitungen</h1>
            <div class="mt-4">
                <h5>1980</h5>
                <p>G.Rossini: "La Danza die Pulcinella"</p>
            </div>
            <div class="mt-4">
                <h5>1982</h5>
                <p>J.Haydn "Sinfonie mit dem Paukenschlag", 2.Satz</p>
            </div>
            <div class="mt-4">
                <h5>1983</h5>
                <p>F.Schubert: "Deutsche Messe"</p>
            </div>
            <div class="mt-4">
                <h5>1985</h5>
                <p>"Three Songs"</p>
            </div>
            <div class="mt-4">
                <h5>1986</h5>
                <p>B.Galuppi: "Dixit Dominus"</p>
            </div>
            <div class="mt-4">
                <h5>1986</h5>
                <p>J.S.Bach: 2. Brandenburgisches Konzert</p>
            </div>
            <div class="mt-4">
                <h5>1986</h5>
                <p>R.Schumann: "Die beiden Grenadiere"</p>
            </div>
            <div class="mt-4">
                <h5>1987</h5>
                <p>J.S.Bach: Das Italienische Konzert</p>
            </div>
            <div class="mt-4">
                <h5>1989</h5>
                <p>B.Granichstaedten: "Der Orlow", Einlage</p>
            </div>
            <div class="mt-4">
                <h5>1990</h5>
                <p>C.Debussy: "Aus Children´s Corner"</p>
            </div>
            <div class="mt-4">
                <h5>1990</h5>
                <p>Kadenz zu Beethovens 1.Klavierkonzert</p>
            </div>
            <div class="mt-4">
                <h5>1990</h5>
                <p>M.Reger: "Im Himmelreich"</p>
            </div>
            <div class="mt-4">
                <h5>1991</h5>
                <p>J.Haydn: "Zwei Oden Anakreons"</p>
            </div>
            <div class="mt-4">
                <h5>2002</h5>
                <p>W.A.Mozart: "Janitscharenmusik"</p>
            </div>
            <div class="mt-4">
                <h5>2002</h5>
                <p>W.A.Mozart: "Tänze" aus Opern</p>
            </div>
            <div class="mt-4">
                <h5>2005</h5>
                <p>R. Schumann: Fantasiestücke op.75</p>
            </div>
            <div class="mt-4">
                <h5>2007/09</h5>
                <p>W.A.Mozart: "Neun Kirchensonaten"</p>
            </div>
            <div class="mt-4">
                <h5>2010</h5>
                <p>Einzugsmarsch aus dem Zigeunerbaron</p>
            </div>
            <div class="mt-4">
                <h5>2010</h5>
                <p>Tritsch Tratsch Polka</p>
            </div>
            <div class="mt-4">
                <h5>2012</h5>
                <p>W.A.Mozart: "Le Nozze di Figaro"</p>
            </div>
            <div class="mt-4">
                <h5>2013</h5>
                <p>Johann Strauß Sohn: "Die Fledermaus"</p>
            </div>
            <div class="mt-4">
                <h5>2013</h5>
                <p>W.A.Mozart: "Così fan tutte"</p>
            </div>
            <div class="mt-4">
                <h5>2014</h5>
                <p>W.A.Mozart: "Don Giovanni"</p>
            </div>
            <div class="mt-4">
                <h5>2015</h5>
                <p>A. Piazzolla: "Libertango" für Trompete u.Orchester</p>
            </div>
        </div>


    </div>
</body>

{% endblock content %}