{% extends base %}

{% load static %}

{% block content %}

<body>

  <div class="container bg-white">
    <div class="row mt-3">

        <h1 class="display-3 text-center mt-5">Hörbeispiele</h1>

    </div>
    <h2 class="display-6 text-center mb-5 mt-5">Pjotr Ilitsch Tschaikovsky</h2>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h3 class="text-center">4. Tschaikovsky 4. Satz: Finale</h3>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <audio controls>
            <source
              src="http://www.mancusi.at/images/music/dirigate//Tschaikovsky%20P.I.%20-%204.Symphonie%20-%204.Satz.mp3"
              type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-5 mt-5">Ludwig van Beethoven</h2>
    <div class="row mb-5">
      <div class="col-sm-6">
        <h3 class="text-center">Sinfonie Nr.1 op.21 - Adagio molto, Allegro con brio</h3>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <audio controls>
            <source
              src="http://www.mancusi.at/images/music/dirigate//beethoven%20l.v.%20-%201.sinfonie%20%20-%201.satz.mp3"
              type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="text-center">Sinfonie Nr.4 B-Dur op.60 - 4.Satz Allegro ma non troppo</h3>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <audio controls>
            <source
              src="http://www.mancusi.at/images/music/dirigate//beethoven%20l.v.%20-%204.sinfonie%20-%204.satz.mp3"
              type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>
    <h2 class="display-6 text-center mb-5 mt-5">Johannes Brahms</h2>
    <div class="row mb-5">
      <div class="col-sm-6">
        <h3 class="text-center">Haydn-Variationen - Var.5 u. 6</h3>
      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <audio controls>
            <source
              src="http://www.mancusi.at/images/music/dirigate//brahms%20j.%20-%20haydn-variationen%20-%20var.5%20u.%206.mp3"
              type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>

  </div>
</body>

{% endblock content %}