{% extends base %}

{% load static %}

{% block content %}

<body>
      <div class="container">
        <h1 class="mt-3">Impressum</h1>
        <p>Informationspflicht laut § 5 TMG.</p>
        <p>Münzgasse 8,<br>
           A-1030 Wien, <br>
           Österreich <br>
        </p>
        <p>
            <b>UID-Nummer: </b> ATU56605249 <br>
            <b>Wirtschafts-ID:</b> DE123456789 <br>
        </p>

        <p>
            <b>Tel.:</b> + 43 (0)676 3582270 <br>
            <b>E-Mail:</b> office@mancusi.at    <br>
        </p>

        <p>
            <b>Datenschutzbehörde</b>

            <a href="https://www.dsb.gv.at/">DSB</a> <br>
            <b>Anschrift:</b> <br>
            Barichgasse 40–42, <br>
            1030 Wien, <br>
            Österreich
        </p>

        <p><b>Berufsbezeichnung:</b> Dirigent, Komponist</p>

        <h3>EU-Streitschlichtung</h3>

        <p>
            Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.
            Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter http://ec.europa.eu/odr?tid=321292731 zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.

            Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen. <br>
        </p>

        <h3>Haftung für Inhalte dieser Website</h3>
        <p>
            Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz (TMG) §7 (1) sind wir als Diensteanbieter für eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der §§ 8 bis 10 sind wir nicht verpflichtet, die von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.

            Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt.

            Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.
        </p>

        <h3>Haftung für Links auf dieser Website</h3>
        <p>
            Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.

            Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum. <br>
        </p>

        <h3>Urheberrechtshinweis</h3>

        <p>
            Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten wie zum Beispiel auf anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.

            Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren. <br>
        </p>

        <h3>Bildernachweis</h3>
        <p>
            Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt. <br>

            Alle Texte sind urheberrechtlich geschützt. <br>
        </p>
        <p>Quelle: Erstellt mit dem Datenschutz Generator von <a href="https://www.adsimple.de/">AdSimple</a></p>
      </div>
  </body>

{% endblock %}