{% extends base %}

{% load static %}

{% block content %}
<body>
<div class="container text-center">
        <div class="">
            <img src="{% static 'img/startpageGuido.jpg' %}" alt="Guido Mancusi" class="rounded img-fluid w-80"></div>
        <div class="fs-3 mt-4">
            <h1 class="display-3">Guido Mancusi</h1>
            Guido Mancusi wurde als Sohn des neapolitanischen Dirigenten Enrico Mancusi und der Wiener Gesangslehrerin Ines Mancusi in Neapel geboren und wuchs in Neapel und Padova auf. Seinen ersten Klavierunterricht bekam er von seinem Vater, der mit dem Komponisten Nino Rota eng befreundet war. Nach dem frühen Tod des Vaters entschloss sich die Mutter, mit ihren zwei Kindern in ihre Heimatstadt Wien zurückzukehren.
        </div>
        <div class="row mt-5 mb-5">
            <div class="col">
                <iframe width="660"  height="415" class="rounded" src="https://www.youtube.com/embed/JtNMJhDR3HM?start=53" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col">
                <h1 class="display-3 mt-4">Social Media</h1>
                <p><a href="https://de-de.facebook.com/Guido.Mancusi.Composer.Conductor/" class="fs-1 text-black"><i class="fab fa-facebook-square text-black me-5"></i>Facebook</a></p>
                <p><a href="https://www.youtube.com/channel/UCDkOFyjDPJ7uuhPZZmo8s1A" class="fs-1 text-black"><i class="fab fa-youtube text-black me-5"></i>Youtube</a></p>
                <p><a href="https://www.instagram.com/mancusi_composer_conductor/?hl=de" class="fs-1 text-black"><i class="fab fa-instagram text-black me-5"></i>Instagram</a></p>
            </div>
        </div>
    </div>
</body>
{% endblock %}