{% extends base %}

{% load static %}

{% block content %}

<body>
    <div class="text-center">
        <h1 class="display-3">2021</h1>
        <div class="mt-4">
            <h5>Juli 08.</h5>
            <p>Premiere,09.,10.,15.,16.,17.,22.,23.,24.,30.,31. "West Side Story", Seefestspiele Mörbisch</p>
        </div>
        <div class="mt-4">
            <h5>Juni 30</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Juni 3</h5>
            <p>Open Air Konzert "Nachklang" am Wiener Zentralfriedhof</p>
        </div>
        <div class="mt-4">
            <h5>Mai 14</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>April 3.,15.</h5>
            <p>Vorstellungen Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>April 10.,19.</h5>
            <p>Vorstellungen Das Land des Lächelns, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>März 10.</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>März 09.</h5>
            <p>Konzert in Zagreb mit dem Kammerorchester Zagreb</p>
        </div>
        <div class="mt-4">
            <h5>März 5.,10.</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Feber 26.</h5>
            <p>Konzert Konzert in Budapest/MÜPA mit dem Dohnányi Sinfonie Orchester (Heldenleben/Daphnis et Chloe)</p>
        </div>
        <div class="mt-4">
            <h5>Feber 19.</h5>
            <p>Konzert in Budapest/Budafok mit dem Dohnányi Sinfonie Orchester</p>
        </div>
        <div class="mt-4">
            <h5>Feber 10.</h5>
            <p>Konzert in Budapest F.Liszt Akademie mit dem Dohnányi Sinfonie Orchester</p>
        </div>
        <div class="mt-4">
            <h5>Feber 06.</h5>
            <p>Ball des BDZ mit dem Dohnányi Sinfonie Orchester in Budapest</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 28.</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner</h5>
            <p>Konzerttournee mit dem Sinfonieorchester der Volksoper in Japan</p>
        </div>
        <div class="mt-4">
            <h5>Jänner</h5>
            <p>Konzerttournee mit dem Schloss Schönbrunn Orchester in Skandinavien wurde wegen CoVid Maßnahmen abgesagt</p>
        </div>

        <h1 class="display-3 mt-5">2020</h1>
        <div class="mt-4">
            <h5>Dezember 27.</h5>
            <p>Konzert in Oberschützen mit dem Sinfonieorchester der Volksoper Wien, Elisabeth Flechl und Mehrzad</p>
        </div>
        <div class="mt-4">
            <h5>Dezember 17.</h5>
            <p>Konzert mit Chor und Orchester der MUK in der Franziskanerkirche Wien - ???</p>
        </div>
        <div class="mt-4">
            <h5>November 2.,8.,13.,17.,21.,28.</h5>
            <p>Vorstellungen Le Roi Carotte, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Oktober 26.</h5>
            <p>WA Le Roi Carotte, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Oktober 16.</h5>
            <p>Vorstellung Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Oktober 2.,7.,11.</h5>
            <p>Vorstellungen Kiss me Kate, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>September 24.,25.</h5>
            <p>Konzerte beim Classic-Festival Montreux und Lucerne Schweiz mit dem Schloss Schönbrunn Orchester Wien wurde wegen CoVid Maßnahmen abgesagt</p>
        </div>
        <div class="mt-4">
            <h5>September 17.</h5>
            <p>Vorstellung Peter Pan, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>September 01.</h5>
            <p>Die Fledermaus, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>September 2.</h5>
            <p>WA-Premiere Kiss me Kate, Vorstellungen 7.,15.,19.,23. Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>August 17.-bis 23.</h5>
            <p>"Don Giovanni o il Dissoluto punito" beim Zemplén Festival/ Ungarn Sárospaták mit dem Dohnányi Sinfonie Orchester</p>
        </div>
        <div class="mt-4">
            <h5>Juli 18.</h5>
            <p>Uraufführung der Schauspielmusik zu Jedermann im Rahmen der Salzburger Festspiele/Operncamp/Akademie wurde wegen CoVid Maßnahmen abgesagt und wird verschoben</p>
        </div>
        <div class="mt-4">
            <h5>Juli 1.,2.</h5>
            <p>wiederum weitere 4 Vorstellungen der Kinderoperette "Anton und Maria" im Rahmen der Festspiele Mörbisch wurde wegen CoVid Maßnahmen abgesagt und wird verschoben</p>
        </div>
        <div class="mt-4">
            <h5>Juni 29.,30.</h5>
            <p>weitere 4 Vorstellungen der Kinderoperette "Anton und Maria" im Rahmen der Festspiele Mörbisch wurde wegen CoVid Maßnahmen abgesagt und wird verschoben</p>
        </div>
        <div class="mt-4">
            <h5>Juni 25.</h5>
            <p>Uraufführung des Auftragswerkes "Anton und Maria" - Kinderoperette, im Rahmen der Festspiele Mörbisch wurde wegen CoVid Maßnahmen abgesagt und wird verschoben</p>
        </div>
        <div class="mt-4">
            <h5>Juni 13.,23.</h5>
            <p>Vorstellungen "Pinocchio", Volksoper Wien wurde wegen CoVid Maßnahmen abgesagt</p>
        </div>
        <div class="mt-4">
            <h5>Mai 9.,21.</h5>
            <p>Vorstellungen "Pinocchio", Volksoper Wien wurde wegen CoVid Maßnahmen abgesagt</p>
        </div>
        <div class="mt-4">
            <h5>April 4.</h5>
            <p>Vorstellung "Meine Schwester und ich" von Ralph Benatzky, Volksoper Wien wurde wegen CoVid Maßnahmen abgesagt</p>
        </div>
        <div class="mt-4">
            <h5>März 28.</h5>
            <p>"Don Giovanni o il Dissoluto punito", Budapest MÜPA mit dem Dohnányi Sinfonie Orchester] wurde wegen CoVid Maßnahmen abgesagtund wird verschoben</p>
        </div>
        <div class="mt-4">
            <h5>März 13.</h5>
            <p>gestreamtes-Konzert in Budapest/Budafok mit dem Dohnányi Sinfonie Orchester wurde wegen CoVid Maßnahmen abgesagt sattdessen wurde Video mitgeschnitten</p>
        </div>
        <div class="mt-4">
            <h5>März 5.,8.</h5>
            <p>Vorstellungen "Meine Schwester und ich" von Ralph Benatzky, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5> Feber 1.,8.,14.,20.,23.,27.</h5>
            <p>Vorstellungen "Carmina Burana/Bolero/L'aprés midi d'un Faune" - Ballett, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 22.,28.</h5>
            <p>WA und Vorstellung "Carmina Burana/Bolero/L'aprés midi d'un Faune" - Ballett, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 23.-26.</h5>
            <p>Konzerte in Göteborg und Helsingborg mit dem Schloss Schönbrunn Orchester Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 11.,12.</h5>
            <p>Konzerte in Helsinki und Tampere mit dem Schloss Schönbrunn Orchester Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 5.,10.,14.</h5>
            <p>Vorstellungen "Le Roi Carotte" von Jaques Offenbach, Volksoper Wien</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 4.</h5>
            <p>Neujahrskonzert in Schloss Thalheim mit dem Opernballorchester Wien, Bibiana Nwobilo und Stephen Chaundy</p>
        </div>
        <div class="mt-4">
            <h5>Jänner 1.,2.</h5>
            <p>Neujahrskonzerte in Athen mit dem Schloss Schönbrunn Orchester Wien und Jennifer Lary</p>
        </div>
    </div>
</body>

{% endblock content %}