{% extends base %}

{% load static %}

{% block content %}
<body>
  <div class="container">
    <div class="section">
      <h1 class="display-3">Musiktheater</h1>
    </div>
    <div class="section">
      <h2 class="display-6 pb-2">Opern</h2>
      <dl class="row">
        <dt class="col-sm-3">Henry Purcell:</dt>
        <dd class="col-sm-9">
          <p>Dido and Aeneas</p>
          <p>The fairy Queen</p>
        </dd>
        <dt class="col-sm-3">Georg Friedrich Händel:</dt>
        <dd class="col-sm-9">
          <p>Rinaldo</p>
          <p>Alexander's Feast</p>
        </dd>
      </dl>
    </div>
    <div class="section">
      <h2 class="display-6 pb-2">Operetten</h2>
      <dl class="row">
        <dt class="col-sm-3">Johann Sebastian Strauss:</dt>
        <dd class="col-sm-9">
          <p>Eine Nacht in Venedig</p>
          <p>Wiener Blut</p>
          <p>Die Fledermaus</p>
          <p>Der Zigeunerbaron</p>
        </dd>
        <dt class="col-sm-3">Franz Lehár:</dt>
        <dd class="col-sm-9">
          <p>Das Land des Lächelns</p>
          <p>Die Lustige Witwe</p>
          <p>Der Graph von Luxemburg</p>
        </dd>
      </dl>
    </div>
    <div class="section">
      <h2 class="display-6 pb-2">Musicals</h2>
      <dl class="row">
        <dt class="col-sm-3">Frederick Loewe:</dt>
        <dd class="col-sm-9">
          <p>My fair Lady</p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Cole Porter:</dt>
        <dd class="col-sm-9">
          <p>Kiss me Kate</p>
          <p>Irma la Douce</p>
          <p>Die Schöne und das Biest</p>
        </dd>
      </dl>
    </div>
    <div class="section">
      <h2 class="display-6">Ballette</h2>
    </div>
    <div class="section">
      <h2 class="display-6">Konzerte + Kirchenmusik</h2>
    </div>


  </div>
</body>
{% endblock content %}