{% extends base %}

{% load static %}

{% block content %}
<body>
  <div class="container">

    <div class="section">
      <h1 class="display-3 text-center mb-4 mt-5">Repertoire</h1>
    </div>

    <div class="section">
      <div class="row">
        <div class="col">
          <h2 class="display-6 pb-2 mt-4">Opern</h2>
          <dl class="row">
            <dt class="col-sm-3">Henry Purcell:</dt>
            <dd class="col-sm-9">
             <p>Dido and Aeneas</p>
             <p>The fairy Queen</p>
            </dd>
            <dt class="col-sm-3">Georg Friedrich Händel:</dt>
            <dd class="col-sm-9">
              <p>Rinaldo</p>
              <p>Alexander's Feast</p>
            </dd>
            <dt class="col-sm-3">Wolfgang Amadeus Mozart:</dt>
            <dd class="col-sm-9">
              <p>Die Zauberflöte</p>
              <p>Le Nozze di Figaro</p>
              <p>Cosí fan tutte</p>
              <p>Die Entführung aus dem Serail</p>
              <p>Don Giovanni</p>
            </dd>
            <dt class="col-sm-3">Joseph Haydn:</dt>
            <dd class="col-sm-9">
              <p>Lo Speziale</p>
              <p>Il Mondo della Luna</p>
            </dd>
            <dt class="col-sm-3">Christoph Willibald Gluck:</dt>
            <dd class="col-sm-9">
              <p>Alceste</p>
            </dd>
            <dt class="col-sm-3">Gioachino Rossini:</dt>
            <dd class="col-sm-9">
              <p>Il Barbiere di Seviglia</p>
              <p>La Cenerentola</p>
              <p>L´Italiana in Algeri</p>
            </dd>
            <dt class="col-sm-3">Florian Leopold Gassmann:</dt>
            <dd class="col-sm-9">
              <p>La Contessina</p>
            </dd>
            <dt class="col-sm-3">Giuseppe Verdi:</dt>
            <dd class="col-sm-9">
              <p>Un Ballo in Maschera</p>
              <p>La Traviata</p>
              <p>Aida</p>
              <p>Otello</p>
              <p>Rigoletto</p>
            </dd>
            <dt class="col-sm-3">Vincenzo Bellini:</dt>
            <dd class="col-sm-9">
              <p>Norma</p>
            </dd>
            <dt class="col-sm-3">Gaetano Donizetti:</dt>
            <dd class="col-sm-9">
              <p>Don Pasquale</p>
              <p>Lucia di Lammermoore</p>
              <p>L´Elisir d´Amore</p>
            </dd>
            <dt class="col-sm-3">G.Bizet:</dt>
            <dd class="col-sm-9">
              <p>Carmen</p>
            </dd>
            <dt class="col-sm-3">Ruggero Leoncavallo:</dt>
            <dd class="col-sm-9">
              <p>I Pagliacci</p>
            </dd>
            <dt class="col-sm-3">Pietro Mascagni:</dt>
            <dd class="col-sm-9">
              <p>I Pagliacci</p>
            </dd>

            <dt class="col-sm-3">Giacomo Puccini:</dt>
            <dd class="col-sm-9">
              <p>Madama Butterfly</p>
              <p>Turandot</p>
              <p>La Bohéme</p>
              <p>Tosca</p>
            </dd>
            <dt class="col-sm-3">Richard Wagner:</dt>
            <dd class="col-sm-9">
              <p>Lohengrin</p>
              <p>Holländer</p>
              <p>(Konzertant: Szenen aus Rheingold, Walküre,
Tannhäuser und Holländer, Tristan-Vorspiel und Liebestod)</p>
            </dd>
            <dt class="col-sm-3">Otto Nicolai:</dt>
            <dd class="col-sm-9">
              <p>Die Lustigen Weiber von Windsor</p>
            </dd>
            <dt class="col-sm-3">Pjotr Iljitsch Tschaikowski:</dt>
            <dd class="col-sm-9">
              <p>Jewgenji Onegin</p>
              <p>Pique Dame</p>
            </dd>
            <dt class="col-sm-3">Benjamin Britten:</dt>
            <dd class="col-sm-9">
              <p>The Burning Fiery Furnace</p>
              <p>The Prodigal Son</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4 justify-content-center">
          <img src="{% static 'img/guidoStanding.jpeg'%}" alt="Guido Mancusi" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col">
          <h2 class="display-6 pb-2 mt-4">Operetten</h2>
          <dl class="row">
            <dt class="col-sm-3">Johann Sebastian Strauss:</dt>
            <dd class="col-sm-9">
              <p>Eine Nacht in Venedig</p>
              <p>Wiener Blut</p>
              <p>Die Fledermaus</p>
              <p>Der Zigeunerbaron</p>
            </dd>
            <dt class="col-sm-3">Franz Lehár:</dt>
            <dd class="col-sm-9">
              <p>Das Land des Lächelns</p>
              <p>Die Lustige Witwe</p>
              <p>Der Graph von Luxemburg</p>
            </dd>
            <dt class="col-sm-3">Emmerich Kálmán:</dt>
            <dd class="col-sm-9">
              <p>Gräfin Máriza</p>
              <p>Die Csardasfürstin</p>
            </dd>
            <dt class="col-sm-3">Carl Zeller:</dt>
            <dd class="col-sm-9">
              <p>Der Vogelhändler</p>
            </dd>
            <dt class="col-sm-3">Leo Fall:</dt>
            <dd class="col-sm-9">
              <p>Madame Pompadour</p>
              <p>Der Fidele Bauer</p>
            </dd>
            <dt class="col-sm-3">Carl Millöcker:</dt>
            <dd class="col-sm-9">
              <p>Der Bettelstudent</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <img src="{% static 'img/GuidoCareful.jpeg' %}" alt="" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col">
          <h2 class="display-6 pb-2 mt-4">Musicals</h2>
          <dl class="row">
            <dt class="col-sm-3">Frederick Loewe:</dt>
            <dd class="col-sm-9">
              <p>My fair Lady</p>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Cole Porter:</dt>
            <dd class="col-sm-9">
              <p>Kiss me Kate</p>
              <p>Irma la Douce</p>
              <p>Die Schöne und das Biest</p>
            </dd>
            <dt class="col-sm-3">Sylvester Levay:</dt>
            <dd class="col-sm-9">
              <p>Elisabeth</p>
            </dd>
            <dt class="col-sm-3">John Kander:</dt>
            <dd class="col-sm-9">
              <p>Cabaret</p>
              <p>Chicago</p>
              <p>Der Kuss der Spinnenfrau</p>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <img src="{% static 'img/guidoPoint.jpeg' %}" alt="" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col">
          <h2 class="display-6 pb-2 mt-4">Ballette</h2>
          <dl class="row">
            <dt class="col-sm-3">Pjotr Iljitsch Tschaikowski:</dt>
            <dd class="col-sm-9">
              <p>Der Nußknacker</p>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Sergei Sergejewitsch Prokofjew:</dt>
            <dd class="col-sm-9">
              <p>Romeo und Julia</p>
            </dd>
            <dt class="col-sm-3">Felix Mendelssohn Bartholdy:</dt>
            <dd class="col-sm-9">
              <p>Ein Sommernachtstraum</p>
            </dd>
            <dt class="col-sm-3">Rodion Konstantinowitsch Schtschedrin:</dt>
            <dd class="col-sm-9">
              <p>Carmen Suite</p>
            </dd>
          </dl>
        </div>

      </div>
    </div>

    <div class="section">
      <div class="row mb-5">
        <div class="col">
          <h2 class="display-6 pb-2 mt-4">Konzerte und Kirchenmusik</h2>
          <dl class="row">
            <dt class="col-sm-3">Johann Sebastian Bach:</dt>
            <dd class="col-sm-9">
              <p>Orchestersuiten # 1, 2, 3</p>
              <p>Brand-konz.# 1, 2, 3, 4, 6</p>
              <p>Cemb/Fl/Viol.konzerte</p>
              <p>Passionen Johannes / Markus</p>
              <p>c.a. 30 geistl.u.weltl. Kantaten</p>
              <p>Ein musik.Opfer</p>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Georg Philipp Telemann:</dt>
            <dd class="col-sm-9">
              <p>Tafelmusiksuiten</p>
              <p>Fl-konz</p>
            </dd>
            <dt class="col-sm-3">Georg Friedrich Händel:</dt>
            <dd class="col-sm-9">
              <p>Wassermusiksuiten</p>
              <p>Feuerwerksmusik</p>
              <p>aus Conc.gr.op.3 + op.6</p>
            </dd>
            <dt class="col-sm-3">Wolfgang Amadeus Mozart:</dt>
            <dd class="col-sm-9">
              <p>Freimaurermusiken</p>
              <p>Requiem</p>
              <p>alle Messen (incl. c-moll)</p>
              <p>Sinf.KV183, 388</p>
              <p>Prager</p>
              <p>Pariser</p>
              <p>Linzer</p>
              <p>Haffner</p>
              <p>440</p>
              <p>Es-Dur</p>
              <p>Jupiter</p>
              <p>Viol-konz.A,D,G-Dur</p>
              <p>Klar-konz.</p>
              <p>Sinf.conc.Viol/Vla.</p>
              <p>Klav-konz.488</p>
              <p>Jeunhomme</p>
              <p>Krönungs-Konzert</p>
            </dd>
            <dt class="col-sm-3">Joseph Haydn</dt>
            <dd class="col-sm-9">
              <p>alle Messen (ohne Theresien-, Nelson-, Schöpfungs-)</p>
              <p>Die Schöpfung</p>
              <p>alle Messen (incl. c-moll)</p>
              <p>Sinf.KV183, 388</p>
              <p>A</p>
              <p>Sinf.# B, 5, 6, 7, 45, 60, 88, 92, 100, 101</p>
              <p>TeDeum f.Maria Theresia</p>
            </dd>
            <dt class="col-sm-3">Gioachino Rossini</dt>
            <dd class="col-sm-9">
              <p>Stabat Mater</p>
              <p>einige Kantaten</p>
              <p>versch.Ouvertüren</p>
            </dd>
            <dt class="col-sm-3">Franz Schubert</dt>
            <dd class="col-sm-9">
              <p>alle Messen</p>
              <p>Sinf.# 3, 4, 5, 7, 8</p>
            </dd>
            <dt class="col-sm-3">Ludwig van Beethoven</dt>
            <dd class="col-sm-9">
              <p>C-Dur Messe</p>
              <p>Sinf.# 1, 4, 5, 6, 7</p>
              <p>Klav-konz.# 3</p>
              <p>Viol-konz.</p>
            </dd>
            <dt class="col-sm-3">Robert Schumann</dt>
            <dd class="col-sm-9">
              <p>Sinf.# 4</p>
            </dd>
            <dt class="col-sm-3">Anton Bruckner</dt>
            <dd class="col-sm-9">
              <p>alle 3 Messen</p>
              <p>Sinf.# 1, 4</p>
              <p>TeDeum</p>
            </dd>
            <dt class="col-sm-3">Johannes Brahms</dt>
            <dd class="col-sm-9">
              <p>Haydn-Var.</p>
              <p>Sinf.# 1</p>
              <p>Requiem</p>
              <p>Serenade op.11</p>
            </dd>
            <dt class="col-sm-3">Max Bruch</dt>
            <dd class="col-sm-9">
              <p>Viol-konz.# 1</p>
            </dd>
            <dt class="col-sm-3">Frédéric Chopin</dt>
            <dd class="col-sm-9">
              <p>Klav.konz.# 2</p>
            </dd>
            <dt class="col-sm-3">Franz Liszt</dt>
            <dd class="col-sm-9">
              <p>Les Preludes</p>
            </dd>
            <dt class="col-sm-3">Pjotr Iljitsch Tschaikowski</dt>
            <dd class="col-sm-9">
              <p>Nussknackersuite</p>
              <p>Viol-konz.</p>
              <p>Sinf.# 5, 6</p>
            </dd>
            <dt class="col-sm-3">Modest Petrowitsch Mussorgski</dt>
            <dd class="col-sm-9">
              <p>Eine Nacht a/d kahlen Berge</p>
            </dd>
            <dt class="col-sm-3">Antonín Dvořák</dt>
            <dd class="col-sm-9">
              <p>Messe</p>
              <p>Viol-konz.</p>
              <p>Sinf.# 6, 8</p>
            </dd>
            <dt class="col-sm-3">Gustav Mahler</dt>
            <dd class="col-sm-9">
              <p>Rückert Lieder</p>
              <p>Lieder e.fahrenden Gesellen</p>
              <p>Sinf.# 1</p>
            </dd>
            <dt class="col-sm-3">Richard Strauss</dt>
            <dd class="col-sm-9">
              <p>Metamorphosen f.23 Solostr.</p>
              <p>Don Juan</p>
              <p>Till Eulenspiegel</p>
            </dd>
            <dt class="col-sm-3">Giacomo Puccini</dt>
              <dd class="col-sm-9">
                <p>Messa di Gloria</p>
              </dd>
            <dt class="col-sm-3">Sergei Sergejewitsch Prokofjew</dt>
              <dd class="col-sm-9">
                <p>Sinf.# 5</p>
                <p>Sinf.classique</p>
                <p>Sinf.concertante (Vc-konz.)</p>
              </dd>
            <dt class="col-sm-3">Dmitri Dmitrijewitsch Schostakowitsch</dt>
              <dd class="col-sm-9">
                <p>Sinf.# 2, 5, 13</p>
                <p>Klav.konz.# 2</p>
              </dd>
            <dt class="col-sm-3">Paul Dukas</dt>
              <dd class="col-sm-9">
                <p>Der Zauberlehrling</p>
              </dd>
            <dt class="col-sm-3">Paul Hindemith</dt>
              <dd class="col-sm-9">
                <p>Sinf.Metamorphosen</p>
                <p>Sinfonietta</p>
                <p>Konzert f.Orchester</p>
                <p>Kammermusik# 1,3</p>
                <p>Mathis-Sinfonie</p>
              </dd>
            <dt class="col-sm-3">Manuel de Falla</dt>
              <dd class="col-sm-9">
                <p>El Amor Brujo</p>
              </dd>
            <dt class="col-sm-3">George Gershwin</dt>
              <dd class="col-sm-9">
                <p>An American in Paris</p>
              </dd>
            <dt class="col-sm-3">Aaron Copland</dt>
              <dd class="col-sm-9">
                <p>Apalachian Spring</p>
              </dd>
            <dt class="col-sm-3">Arnold Schönberg</dt>
              <dd class="col-sm-9">
                <p>Kammersinfonie</p>
                <p>Verklärte Nacht</p>
              </dd>
            <dt class="col-sm-3">Igor Strawinsky</dt>
              <dd class="col-sm-9">
                <p>Psalmensinfonie</p>
                <p>Ragtime</p>
                <p>Dumbarton Oaks</p>
                <p>Agon</p>
                <p>Sinf.in d</p>
                <p>Fairy Kiss- suite</p>
              </dd>
            <dt class="col-sm-3">John Williams</dt>
              <dd class="col-sm-9">
                <p>Star Wars-suite</p>
              </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <img src="{% static 'img/guidoBW.jpeg' %}" alt="" class="img-fluid rounded mt-4">
        </div>
      </div>
    </div>

  </div>
</body>
{% endblock content %}