{% extends base %}

{% load static %}

{% block content %}

<body>
<div class="mb-5"></div>
<div class="row justify-content-center align-items-center text-center">
    <div class="col-sm">
        <div class="d-flex justify-content-center align-items-center text-center">
            <div class="payhip-embed-page" data-key="yAz8C">...</div><script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex justify-content-center align-items-center text-center">
            <div class="payhip-embed-page" data-key="yAz8C">...</div><script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
    </div>
</div>


<div class="mt-5"></div>
</body>

{% endblock content %}