<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pageselection</title>
</head>
<body>
    <ul>
        <li><a href="http://127.0.0.1:8000/htmleditor/testsite.html">Testsite</a></li>
        <li><a href="http://127.0.0.1:8000/htmleditor/biography.html">biography</a></li>
        <li><a href="http://127.0.0.1:8000/htmleditor/hoerbeispiele.html">Hörbeispiele</a></li>
        <li><a href="http://127.0.0.1:8000/htmleditor/index.html">Index</a></li>
        <li><a href="http://127.0.0.1:8000/htmleditor/repertoire.html">Repertoire</a></li>
    </ul>
</body>
</html>